<!-- app.component.html -->
<div class="navbar">
  <button pButton type="button" label="Registro" (click)="irARegistro()"></button>
  <button pButton type="button" label="Login" (click)="irALogin()"></button>
  <button pButton type="button" label="Nueva Reserva" (click)="irAReserva()"></button>
  <button pButton type="button" label="Formulario de Reserva" (click)="irAFormularioReserva()"></button>
  <button pButton type="button" label="Listado de Reservas" (click)="irAListadoReservas()"></button>
</div>
<router-outlet></router-outlet>
